<%= render '/ben/redsox' %>

<div class="container">

<h1> Brostoffalon </h1>

<p> Call me <%=link_to "Ben Brostoff", about_path, :target => '_blank' %>. Hopefully one day I'll live with my awesome, albeit non-programming, girlfriend in NYC. </p>

<p> Please <%= link_to "contact me", contact_path %> if you like sports and links to funny videos :-). I encourage everyone to <%= link_to "describe me here", example_path("awesome") %>.

<p>Here's an example of linked_to_if. You'll see <%= link_to_if(8 > 7, "this link to ESPN", "http://espn.go.com/") %> become active and inactive as I change the conditional. One use case here is user-based links. You might want to have active links for users and non-active for non-users. </p>

<p> Same deal (except opposite) for linked_to_unless. You'll see <%= link_to_unless(9 > 7, "this link to CNN", "http://zencephalon.com/index") %> become active and inactive as I change the conditional.

</div>