<%= render '/ben/redsox' %>

<div class="container">

<h1> My Brain on Ben </h1>

<p> Call me <%=link_to "Ben Brostoff", about_path, :target => '_blank' %>. <%=link_to "I practice using link_to. ", :if_and_unless %>Hopefully one day I'll live with my awesome, albeit non-programming, girlfriend in NYC. </p>

<p> Please <%= link_to "contact me", contact_path %> if you like sports and links to funny videos :-). I encourage everyone to <%= link_to "describe me here", :adjectives %>.

</div>